# Data Analysis - Introduction to Pandas

**Author**: [Gabriele Pompa](https://www.linkedin.com/in/gabrielepompa/): gabriele.pompa@unisi.com

# Table of contents

[Executive Summary](#summary)

**TODO**

### **Resources**: 

**TODO**

# Executive Summary <a name="summary"></a>

**TODO**

These are the basic imports that we need to work with NumPy, Pandas and to plot data using Matplotlib functionalities

In [2]:
# for NumPy arrays
import numpy as np

# for Pandas Series and DataFrame
import pandas as pd

# for Matplotlib plotting
import matplotlib.pyplot as plt

# to do inline plots in the Notebook
%matplotlib inline

[OS - Operating System Interfaces](https://docs.python.org/3/library/os.html)

In [8]:
# to create delete directories
import os

In [9]:
# ".." means one directory above in the directory tree
# therefore, since we are in the directory "IT_For_Business_And_Finance_2019_20/Notebooks",
# "../Data/" is equivalent to "IT_For_Business_And_Finance_2019_20/Data"

dataFolderPath = "../Data/"

if not os.path.exists(dataFolderPath):
    os.makedirs(dataFolderPath)

---

## Pickle [https://docs.python.org/3/library/pickle.html](https://docs.python.org/3/library/pickle.html)

In [ ]:
rows = int(1e6)

In [ ]:
mat = np.array([[i*k for i in range(1,rows+1)] for k in range(1,6)]).T

In [ ]:
mat

In [ ]:
mat.shape

In [ ]:
mat.dtype

[open() function](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files)

In [ ]:
import pickle

[with statement](https://www.geeksforgeeks.org/with-statement-in-python/)

In [ ]:
with open(dataFolderPath + "mat.pkl", 'wb') as file:
    %time pickle.dump(mat, file)

In [ ]:
type(file)

In [ ]:
file.closed

In [ ]:
with open(dataFolderPath + "mat.pkl", 'rb') as file:
    %time mat_reloaded = pickle.load(file)

In [ ]:
file.closed

In [ ]:
mat_reloaded

remove file [os.remove()](https://docs.python.org/3/library/os.html#os.remove)

In [ ]:
if os.path.isfile(dataFolderPath + "mat.pkl"):
    os.remove(dataFolderPath + "mat.pkl")

# double-check if file still exists
os.path.isfile(dataFolderPath + "mat.pkl")

multiple objects

In [ ]:
mat_dict = {'mat': mat,
            'mat_squared': mat**2}

In [ ]:
mat_dict['mat']

In [ ]:
mat_dict['mat_squared']

In [ ]:
with open(dataFolderPath + "mat_dict.pkl", 'wb') as file:
    %time pickle.dump(mat_dict, file)

In [ ]:
with open(dataFolderPath + "mat_dict.pkl", 'rb') as file:
    %time mat_dict_reloaded = pickle.load(file)

In [ ]:
mat_dict_reloaded['mat']

In [ ]:
mat_dict_reloaded['mat_squared']

In [ ]:
if os.path.isfile(dataFolderPath + "mat_dict.pkl"):
    os.remove(dataFolderPath + "mat_dict.pkl")

# double-check if file still exists
os.path.isfile(dataFolderPath + "mat_dict.pkl")

---

---

## JSON [https://docs.python.org/3/tutorial/inputoutput.html#saving-structured-data-with-json)

In [3]:
refData = {
    'S&P Rating': ['A', 'BB', 'AA', 'CCC'],
    'Spread': [100, 300, 70, 700],
    'Country': ['USA', 'ITA', 'UK', 'ITA']
}

In [ ]:
import json

In [ ]:
with open(dataFolderPath + "refData.json", 'w') as file:
    %time json.dump(refData, file, indent="\t")

In [ ]:
type(file)

In [ ]:
file.closed

In [ ]:
with open(dataFolderPath + "refData.json", 'r') as file:
    %time refData = json.load(file)

In [ ]:
file.closed

In [ ]:
refData

In [ ]:
if os.path.isfile(dataFolderPath + "refData.json"):
    os.remove(dataFolderPath + "refData.json")

# double-check if file still exists
os.path.isfile(dataFolderPath + "refData.json")

---

In [20]:
df_refData = pd.DataFrame(data={
                             'S&P Rating': ['A', 'BB', 'AA', 'CCC'],
                             'Spread': [100, 300, 70, 700],
                             'Country': ['USA', 'ITA', 'UK', 'ITA'],
                             'Market Cap': [430.0, 45.0, 161.25, 5.00]
                            },
                       index=['Firm_1', 'Firm_2', 'Firm_3', 'Firm_4'])

df_refData

       S&P Rating  Spread Country  Market Cap
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

## PANDAS + SQL

In [121]:
import sqlite3 as sq3

In [136]:
# create table
con = sq3.connect(dataFolderPath + "refData.db")

In [123]:
query = """CREATE TABLE refData (
                Firms TEXT NOT NULL,
                SnP_Rating TEXT,
                Spread INT,
                Country TEXT,
                Market_Cap REAL
)"""

print(query)

CREATE TABLE refData (
                Firms TEXT NOT NULL,
                SnP_Rating TEXT,
                Spread INT,
                Country TEXT,
                Market_Cap REAL
)

In [124]:
con.execute(query)

In [125]:
con.commit()

In [126]:
for index, row in df_refData.iterrows():
    print(index, type(row), row.dtypes)

Firm_1 <class 'pandas.core.series.Series'> object
Firm_2 <class 'pandas.core.series.Series'> object
Firm_3 <class 'pandas.core.series.Series'> object
Firm_4 <class 'pandas.core.series.Series'> object

In [127]:
for index, row in df_refData.iterrows():
    print(index, row['S&P Rating'], row['Spread'], row["Country"], row["Market Cap"])
    print(index, type(row['S&P Rating']), type(row['Spread']), row["Country"], row["Market Cap"])

Firm_1 A 100 USA 430.0
Firm_1 <class 'str'> <class 'int'> USA 430.0
Firm_2 BB 300 ITA 45.0
Firm_2 <class 'str'> <class 'int'> ITA 45.0
Firm_3 AA 70 UK 161.25
Firm_3 <class 'str'> <class 'int'> UK 161.25
Firm_4 CCC 700 ITA 5.0
Firm_4 <class 'str'> <class 'int'> ITA 5.0

In [128]:
df_refData.dtypes

S&P Rating     object
Spread          int64
Country        object
Market Cap    float64
dtype: object

In [129]:
for index, row in df_refData.iterrows():
    query = "INSERT INTO refData VALUES ('{}', '{}', {}, '{}', {})".\
    format(index, row['S&P Rating'], row['Spread'], row["Country"], row["Market Cap"])
    
    print(query)
    con.execute(query)

con.commit()

INSERT INTO refData VALUES ('Firm_1', 'A', 100, 'USA', 430.0)
INSERT INTO refData VALUES ('Firm_2', 'BB', 300, 'ITA', 45.0)
INSERT INTO refData VALUES ('Firm_3', 'AA', 70, 'UK', 161.25)
INSERT INTO refData VALUES ('Firm_4', 'CCC', 700, 'ITA', 5.0)

inspecting using [DB Browser for SQLite](https://sqlitebrowser.org/dl/)

In [130]:
query = "SELECT * FROM refData"

df_refData_reloaded = pd.read_sql(sql=query, con=con)

df_refData_reloaded

    Firms SnP_Rating  Spread Country  Market_Cap
0  Firm_1          A     100     USA      430.00
1  Firm_2         BB     300     ITA       45.00
2  Firm_3         AA      70      UK      161.25
3  Firm_4        CCC     700     ITA        5.00

In [131]:
query = """SELECT * FROM refData"""

df_refData_reloaded = pd.read_sql(sql=query, con=con, index_col="Firms")

df_refData_reloaded = df_refData_reloaded.rename(columns={old_col: new_col for old_col, new_col 
                                                          in zip(df_refData_reloaded.columns, df_refData.columns)})
df_refData_reloaded

       S&P Rating  Spread Country  Market Cap
Firms
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

In [132]:
query = "SELECT * FROM refData WHERE Market_Cap > 100"

pd.read_sql(sql=query, con=con, index_col="Firms")

       SnP_Rating  Spread Country  Market_Cap
Firms
Firm_1          A     100     USA      430.00
Firm_3         AA      70      UK      161.25

In [133]:
df_refData_reloaded["Market Cap"][df_refData_reloaded["Market Cap"] > 100]

Firms
Firm_1    430.00
Firm_3    161.25
Name: Market Cap, dtype: float64

In [147]:
con.close()

In [137]:
df_refData.to_sql(name="refData", con=con, index_label="Firms")

In [138]:
query = "SELECT * FROM refData"

df_refData_reloaded = pd.read_sql(sql=query, con=con, index_col="Firms")

df_refData_reloaded = df_refData_reloaded.rename(columns={old_col: new_col for old_col, new_col 
                                                          in zip(df_refData_reloaded.columns, df_refData.columns)})
df_refData_reloaded

       S&P Rating  Spread Country  Market Cap
Firms
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

### another example

In [180]:
df = pd.DataFrame(data=np.array([[i**k for i in range(1,11)] for k in range(1,6)]).T, 
                  index=pd.date_range('2020-01-01', periods=10, freq='B'), 
                  columns=['x', 'x^2', 'x^3', 'x^4', 'x^5'])
df

             x  x^2   x^3    x^4     x^5
2020-01-01   1    1     1      1       1
2020-01-02   2    4     8     16      32
2020-01-03   3    9    27     81     243
2020-01-06   4   16    64    256    1024
2020-01-07   5   25   125    625    3125
2020-01-08   6   36   216   1296    7776
2020-01-09   7   49   343   2401   16807
2020-01-10   8   64   512   4096   32768
2020-01-13   9   81   729   6561   59049
2020-01-14  10  100  1000  10000  100000

In [181]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', freq='B')

In [182]:
df.index[0]

Timestamp('2020-01-01 00:00:00', freq='B')

In [183]:
# create table
con = sq3.connect(dataFolderPath + "df.db")

In [184]:
df.to_sql(name="df", con=con, index_label="Dates")

In [185]:
query = "SELECT * FROM df"
df_reloaded = pd.read_sql(sql=query, con=con, index_col="Dates")
df_reloaded

                      x  x^2   x^3    x^4     x^5
Dates
2020-01-01 00:00:00   1    1     1      1       1
2020-01-02 00:00:00   2    4     8     16      32
2020-01-03 00:00:00   3    9    27     81     243
2020-01-06 00:00:00   4   16    64    256    1024
2020-01-07 00:00:00   5   25   125    625    3125
2020-01-08 00:00:00   6   36   216   1296    7776
2020-01-09 00:00:00   7   49   343   2401   16807
2020-01-10 00:00:00   8   64   512   4096   32768
2020-01-13 00:00:00   9   81   729   6561   59049
2020-01-14 00:00:00  10  100  1000  10000  100000

In [186]:
df_reloaded.index

Index(['2020-01-01 00:00:00', '2020-01-02 00:00:00', '2020-01-03 00:00:00',
       '2020-01-06 00:00:00', '2020-01-07 00:00:00', '2020-01-08 00:00:00',
       '2020-01-09 00:00:00', '2020-01-10 00:00:00', '2020-01-13 00:00:00',
       '2020-01-14 00:00:00'],
      dtype='object', name='Dates')

In [187]:
df_reloaded.index[0]

'2020-01-01 00:00:00'

In [188]:
type(df_reloaded.index[0])

str

In [189]:
query = "SELECT * FROM df"
df_reloaded = pd.read_sql(sql=query, con=con, index_col="Dates", parse_dates="Dates")

In [190]:
df_reloaded

             x  x^2   x^3    x^4     x^5
Dates
2020-01-01   1    1     1      1       1
2020-01-02   2    4     8     16      32
2020-01-03   3    9    27     81     243
2020-01-06   4   16    64    256    1024
2020-01-07   5   25   125    625    3125
2020-01-08   6   36   216   1296    7776
2020-01-09   7   49   343   2401   16807
2020-01-10   8   64   512   4096   32768
2020-01-13   9   81   729   6561   59049
2020-01-14  10  100  1000  10000  100000

In [191]:
df_reloaded.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', name='Dates', freq=None)

In [194]:
df_reloaded.index[0]

Timestamp('2020-01-01 00:00:00')

In [179]:
con.close()

---

## PANDAS + .csv

---

## PANDAS + Excel (FORSE)

---

---

## PANDAS + Yahoo Finance

In [ ]:
# for Yahoo Finance API
import yfinance as yf

In [ ]:
data = yf.download("^GSPC", period="max")

In [ ]:
data.loc['2010-01-01':, 'High'].plot()

In [ ]:
data.head()

In [ ]:
spx = yf.Ticker("^GSPC")
spx_hist = spx.history(period="max")

In [ ]:
spx_hist.tail()

In [ ]:
data2 = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30", group_by = 'ticker')

In [ ]:
data2.head()

In [ ]:
data2['SPY']