# Data Analysis - Introduction to Pandas

**Author**: [Gabriele Pompa](https://www.linkedin.com/in/gabrielepompa/): gabriele.pompa@unisi.com

# Table of contents

[Executive Summary](#summary)

**TODO**

### **Resources**: 

**TODO**

# Executive Summary <a name="summary"></a>

**TODO**

These are the basic imports that we need to work with NumPy, Pandas and to plot data using Matplotlib functionalities

In [1]:
# for NumPy arrays
import numpy as np

# for Pandas Series and DataFrame
import pandas as pd

# for Matplotlib plotting
import matplotlib.pyplot as plt

# to do inline plots in the Notebook
%matplotlib inline

# Introduction

Before talking about specific Input/Output (IO) protocols, it is important to mention that typical operating system functionalities (like creating and deleting files, folders, etc) are accessible from Python code using [os module](https://docs.python.org/3/library/os.html). This is a module we will include in our basic imports sectsion hereafter.

In [2]:
import os

we use `os.makedirs()` function to create the `Data` folder, under our `IT_For_Business_And_Finance_2019_20` class folder, where we will put all our data files. Function `os.path.exists()` returns `True` if the folder (or file) path it receives in input already exists, otherwise `False`.

In [3]:
dataFolderPath = "../Data"

if not os.path.exists(dataFolderPath):
    os.makedirs(dataFolderPath)

Notice the use of `..` syntax. The double dots `..` in file path Strings refers to _one directory above_ in the directory tree. Therefore, since the notebook you are reading is located in the `IT_For_Business_And_Finance_2019_20/Notebooks` folder, `../Data` points (and is thus equivalent) to `IT_For_Business_And_Finance_2019_20/Data`.

# Serialization Protocols in Python

When it comes to IO operations, Python is very flexible and offers several options. We'll review here two typical ways to transfer Python objects across machines:
- [JSON](https://docs.python.org/3/library/json.html#module-json) module, which implements human-readable encoding and decoding of basic Python object hierarchies. It is mostly suitable for Python Lists and Dicts.
- [Pickle](https://docs.python.org/3/library/pickle.html) module, which implements binary protocols for serializing and de-serializing a Python object structure. It convers a broad spectrum of Python data-structures.

## JSON format: `json` module

[JSON](https://docs.python.org/3/tutorial/inputoutput.html#saving-structured-data-with-json) is the acronym for JavaScript Object Notation. It is a popular data interchange format.

The `json` Python module can take Python hierarchies (like nested Lists with Dicts inside etc.), _serialize_ them as `.json` files (that is, convert to String representations) and then _deserialize_ them (that is, reconstruct back the original Python object).

Pros:
- JSON format is the standard to send data over a network connection.
- `.json` files are, in general, human-readable.

Cons: 
- not all Python objects are serializable using `json` (e.g. NumPy arrays cannot be serialized in this way).

Let's make an example. We want to save the `refData` Dict of Python Lists

In [ ]:
refData = {
    'S&P Rating': ['A', 'BB', 'AA', 'CCC'],
    'Spread': [100, 300, 70, 700],
    'Country': ['USA', 'ITA', 'UK', 'ITA']
}

refData

First-of all we import the `json` module

In [ ]:
import json

We define the complete file path using the `os.path.join()` function, which concatenates the `dataFolderPath` to `Data` folder, together with `"refData.json"`, which is going to be the name of the `.json` file containing the serialized `refData` object.

In [ ]:
filePath = os.path.join(dataFolderPath, "refData.json")

To create and open a new file `filePath`, we use [`open(filename, mode)` function](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files), giving it the complete path `filePath` to the file to open and mode `'w'` to open it in write-mode. Function `open()` returns a [file-object](https://docs.python.org/3/glossary.html#term-file-object) (which mediates the between IO operations and the underlying resource). We capture it in the `file` variable.

In [ ]:
with open(filePath, 'w') as file:
    %time json.dump(refData, file, indent="\t")

Here and alsewhere we use the syntax

```python
%time statement
```
to execute a statement and measure its execution time (Wall time) with the [`%time` magic function](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-time).

Function 

````python
json.dump(obj, file_object[, indent])
```

takes the `refData` object and serializes it as a text file, using the `file_object` file object. The optional argument `indent` is used to pretty-print nested levels of the `refData` object. Here we have used the `"\t"` character so that nested levels are distantiated of one tab. Take a look at `refData.json` file in `Data` folder... you can actually read it!

Notice the use of the [`with` statement](https://www.geeksforgeeks.org/with-statement-in-python/) which:
- manages the opening of the file `filePath`, calling `open()` function, 
- assign the file-object to the `file` variable, through the `as` keyword,
- manages the closing of the file after the end of the indented block

Now that we have serialized the `refData` object as the `refData.json` file, we can assess whether the file-object is effectively now closed using the `.closed` attribute of the `file` file-object

In [ ]:
file.closed

Let's now reload the serialized object and retrieve the original `refData` object. Same opening through `open()`, but now in reading-mode, using mode `'r'`

In [ ]:
with open(filePath, 'r') as file:
    %time refData_reloaded = json.load(file)

The deserialization (from text file to Python object) is managed by function

```python
json.load(file_object)
```

which loads the contents of the file referred by `file_object` and convert them into a Python object

In [ ]:
refData_reloaded

Now that we have finished our IO operation, we can delete our `refData.json` file. We define a utility function to do this.

In [4]:
def removeFile(fileName):
    """
    removeFile(fileName) function remove file 'fileName', if it exists. It also success/failure message on screen.
    
    Parameters:
        fileName (str): name of the file ('Data' folder is assumed)
        
    Returns:
        None
    """

    if os.path.isfile(os.path.join(dataFolderPath, fileName)):
        os.remove(os.path.join(dataFolderPath, fileName))

        # double-check if file still exists
        fileStillExists = os.path.isfile(os.path.join(dataFolderPath, fileName))

        if fileStillExists:
            print("Failure: file {} still exists...".format(fileName))
        else:
            print("Success: file {} successfully removed!".format(fileName))
            
    else:
        print("File {} already removed.".format(fileName))

Notice the use of `os`'s functions:
- `os.path.isfile()` which returns `True` if the file in input exists and `False`, otherwise;
- `os.remove()` which removes the file in input.

In [ ]:
removeFile(filePath)

Take a look in `Data` folder to see that effectively `refData.json` file is not there anymore...

Unfortunately, not all object that you work with in Python are serializable (and thus, transferrable) using the JSON format. A counter-example? NumPy arrays...

In [ ]:
# unserializableFilePath = os.path.join(dataFolderPath, "dummyArray.json")
#
# with open(unserializableFilePath, 'w') as file:
#    
#    # raises a TypeError: Object of type ndarray is not JSON serializable
#    %time json.dump(np.array([1,2,3]), file)

## `pickle` module

Contrary to JSON, pickle is a protocol which allows the serialization of arbitrarily complex Python objects. In Python, it is implemented in the `pickle` module.

Pros:
- Pickle works with arbitrary Python obkects (NumPy array and Pandas Series/DataFrames too).

Cons: 
- Pickle format is not cross-platform. That is, a file serialized on a Mac OS might be impossible to de-serialize on a Windows machine (and viceversa).
- `.pkl` files are not human-readable.

In real life, especially if you have to pass data across different machines, don't use Pickle.

Let's make an example. We want to save the `mat` NumPy array

In [ ]:
rows = int(1e6)

In [ ]:
mat = np.array([[i*k for i in range(1,rows+1)] for k in range(1,6)]).T

In [ ]:
mat

In [ ]:
mat.shape

In [ ]:
mat.dtype

First-of all we import the `pickle` module

In [ ]:
import pickle

In [ ]:
filePath = os.path.join(dataFolderPath, "mat.pkl")

with open(filePath, 'wb') as file:
    %time pickle.dump(mat, file)

Notice the use of `'wb'` mode when opening the file to store `mat` array. It's going to be a binary file.

Function 

````python
pickle.dump(obj, file_object)
```

takes the `mat` object and serializes it as a binary file, using the `file_object` file object.

In [ ]:
file.closed

Let's now reload it, using the `'rb'` mode to read the binary file `"mat.pkl"`

In [ ]:
with open(filePath, 'rb') as file:
    %time mat_reloaded = pickle.load(file)

In [ ]:
file.closed

In [ ]:
mat_reloaded

Let's clean-up Data folder...

In [ ]:
removeFile(filePath)

In case you have several object that you want to keep together in a unique file, wrap them in a Python Dict

In [ ]:
mat_dict = {'mat': mat,
            'mat_squared': mat**2}

In [ ]:
mat_dict['mat']

In [ ]:
mat_dict['mat_squared']

In [ ]:
filePath = os.path.join(dataFolderPath, "mat_dict.pkl")

In [ ]:
with open(filePath, 'wb') as file:
    %time pickle.dump(mat_dict, file)

In [ ]:
with open(filePath, 'rb') as file:
    %time mat_dict_reloaded = pickle.load(file)

In [ ]:
mat_dict_reloaded['mat']

In [ ]:
mat_dict_reloaded['mat_squared']

In [ ]:
removeFile(filePath)

# IO with Pandas

Pandas supports IO operations from/to many file formats. As a rule of thumb:

- to import data into Pandas, you can use `read_*` functions (like `pd.read_sql()`, `pd.read_csv()`, `pd.read_excel()`, etc.);
- to export data from Pandas, you can use `to_*` methods of Pandas DataFrames (like for a `df` DataFrame, `df.to_sql()`, `df.to_csv()`, `df.to_excel()`, etc.);

Here we'll review some of the most common file formats:

- [SQL](https://it.wikipedia.org/wiki/Structured_Query_Language), using the `sqlite3` module;
- [CSV](https://it.wikipedia.org/wiki/Comma-separated_values)
- [Excel](https://it.wikipedia.org/wiki/Microsoft_Excel)

## SQL

In a nutshell, SQL stands for Structured Query Language and it is a domain-specific language to manage data held in Relational Databases.

We'll first follow a step-by-step approach, typing real SQL queries and executing them using the `sqlite3` module. Then we'll explain the real-life approach using `df.to_sql()` method and `pd.read_sql()` function.

### SQL queries from Python: `sqlite3` module

[SQLite](https://sqlite.org/index.html) is a library (written in [C programming language](https://en.wikipedia.org/wiki/C_(programming_language))) that implements a SQL database engine. The built-in [module `sqlite3`](https://wiki.python.org/moin/SQLite) implements the interface between Python and SQLite, such that you can define SQL tables using Python code and store Pandas DataFrames into them.

Let's suppose we want to store in a SQL table our reference data DataFrame `df_refData`

In [5]:
df_refData = pd.DataFrame(data={
                             'S&P Rating': ['A', 'BB', 'AA', 'CCC'],
                             'Spread': [100, 300, 70, 700],
                             'Country': ['USA', 'ITA', 'UK', 'ITA'],
                             'Market Cap': [430.0, 45.0, 161.25, 5.00]
                              },
                          index=['Firm_1', 'Firm_2', 'Firm_3', 'Firm_4'])

df_refData

       S&P Rating  Spread Country  Market Cap
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

First of all we import `sqlite3`, giving it the alias name `sq3`

In [22]:
import sqlite3 as sq3

Next we have to open a _connection_ to the SQL engine, which creates an empty `"refData.db"` file in our `Data` folder

In [23]:
filePath = os.path.join(dataFolderPath, "refData.db")

In [24]:
con = sq3.connect(filePath)

The `sq3.connect()` returns a connector `con` that manages the interaction between Python code and SQLite engine

In [25]:
type(con)

sqlite3.Connection

Let's now write the SQL query to create the table `refData`, as a Python String named `query`. For details on SQL syntax, there is a good [SQLite tutorial](https://www.sqlitetutorial.net/). Knowledge of SQL is not required to pass this class, but understanding at least basic syntax might be very usefull in your daily working life.

In [26]:
query = """CREATE TABLE refData (
                Firms TEXT NOT NULL,
                SnP_Rating TEXT,
                Spread INT,
                Country TEXT,
                Market_Cap REAL
)"""

print(query)

CREATE TABLE refData (
                Firms TEXT NOT NULL,
                SnP_Rating TEXT,
                Spread INT,
                Country TEXT,
                Market_Cap REAL
)

So, the meaning of the SQL query which uses the [`CREATE TABLE` statement](https://www.sqlitetutorial.net/sqlite-create-table/) and typed as the Python String `query` is that of just creating an empty table `refData` of five columns:
- `Firms`: a column of text strings (`TEXT`) constrained to store non-missing values (`NOT NULL`). We will store here the index of `df_refData`;
- `SnP_Rating`: column of text strings (`TEXT`) that will store the `'S&P Rating'` column;
- `Spread`: column of integer numbers (`INT`) that will store the `'Spread'` column;
- `Country`: column of text strings (`TEXT`) that will store the `'Country'` column;
- `Market_Cap`: column of float numbers (`REAL`) that will store the `'Market Cap'` column;

For those who are not familiar with SQL data-types, notice that `TEXT`, `INT` and `REAL` are the SQLite analogous of Python `str`, `int` and `float` data-types, respectively. For details, see section [SQLite Data Types](https://www.sqlitetutorial.net/sqlite-data-types/)

We now execute the query using the `.execute()` method of the connector

In [27]:
con.execute(query)

Using the `.commit()` method, we actually implement the changes due to the run of the `query` to the `"refData.db"` file.

**TAKE-HOME MESSAGE**: always `.commit()` after `.execute()`, otherwise no changes will be made to the table.

In [28]:
con.commit()

You can actually open the `"refData.db"` using [DB Browser for SQLite](https://sqlitebrowser.org/) and there, under 'Browse Data' tab, you'll see an empty table `refData` of five columns and SQLite data-types as above.

We can store `df_refData` into `refData` table row-by-row, using the [`.iterrows()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html) of a Pandas DataFrame, which in a for loop returns the index and a Pandas Series of the given row. Check it out

In [29]:
for index, row in df_refData.iterrows():
    print("Index: \n{} \n\nRow: \n{} \n\n".format(index, row))

Index:
Firm_1

Row:
S&P Rating      A
Spread        100
Country       USA
Market Cap    430
Name: Firm_1, dtype: object


Index:
Firm_2

Row:
S&P Rating     BB
Spread        300
Country       ITA
Market Cap     45
Name: Firm_2, dtype: object


Index:
Firm_3

Row:
S&P Rating        AA
Spread            70
Country           UK
Market Cap    161.25
Name: Firm_3, dtype: object


Index:
Firm_4

Row:
S&P Rating    CCC
Spread        700
Country       ITA
Market Cap      5
Name: Firm_4, dtype: object

Looping over `df_refData`'s rows, let's now store each row as a row in `refData` table

In [30]:
for index, row in df_refData.iterrows():
    query = "INSERT INTO refData VALUES ('{}', '{}', {}, '{}', {})".\
    format(index, row['S&P Rating'], row['Spread'], row["Country"], row["Market Cap"])
    
    print(query)
    con.execute(query)

con.commit()

INSERT INTO refData VALUES ('Firm_1', 'A', 100, 'USA', 430.0)
INSERT INTO refData VALUES ('Firm_2', 'BB', 300, 'ITA', 45.0)
INSERT INTO refData VALUES ('Firm_3', 'AA', 70, 'UK', 161.25)
INSERT INTO refData VALUES ('Firm_4', 'CCC', 700, 'ITA', 5.0)

The `INSERT INTO refData VALUES...` query, using the [`INSERT INTO` statement](https://www.sqlitetutorial.net/sqlite-insert/), is responsible to store the values of each row. We `.execute()` one query per row, replacing the `{}` brackets in the string declaration with the appropriate values of each column of the given `row`, thanks to the `.format()` String method. Notice the use of the `''` to write in SQL TEXT values, like `'Firm_1'`.

When all the `df_refData.iterrows()` loop is over, we then `.commit()` the changes all together. Check it out with DB Browser. Of course we could have `.commit()` after the `.execute()` of every row addition, but this would have been inefficient (and I discourage you to do that), since the `.commit()` is, in general, an time-consuming operation.

Now that we have stored values into the `refData` table, we can retrieve them using the standard `SELECT *` query. Rember always to `.commit()` the changes after you have `.execute()` your query, otherwise the selection of data won't be effective.

In [31]:
query = "SELECT * FROM refData"
cursor = con.execute(query)
con.commit()
cursor

The `SELECT * FROM refData` query is an SQL query to using the [`SELECT` statement](https://www.sqlitetutorial.net/sqlite-select/) to query all (`*`) the contents `FROM` the `refData` table. We capture the output of `.execute()` selection as a `cursor`, which we can use to then fetch the selected data, using the `.fetchall()` method of the `cursor`

In [32]:
data=cursor.fetchall()
data

[('Firm_1', 'A', 100, 'USA', 430.0),
 ('Firm_2', 'BB', 300, 'ITA', 45.0),
 ('Firm_3', 'AA', 70, 'UK', 161.25),
 ('Firm_4', 'CCC', 700, 'ITA', 5.0)]

In [33]:
type(data)

list

As expected, the values are there, but the `data` returned are not the original `df_refData` Pandas DataFrame, but in the form of a Python List. With some List comprehension effort, we can reconstruct our original DataFrame... but, as you could imagine, there is a much more efficient method to do all this IO operation

In [34]:
df_refData_reloaded = pd.DataFrame(data=[t[1:] for t in data],
                                   index=[t[0] for t in data],
                                   columns=['S&P Rating', 'Spread', 'Country', 'Market Cap'])

df_refData_reloaded

       S&P Rating  Spread Country  Market Cap
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

Of course you can make conditional selections using the [`WHERE` SQL statement](https://www.sqlitetutorial.net/sqlite-where/). Here, we select rows corresponding to Firms having a `Market_Cap` above 100

In [35]:
query = "SELECT * FROM refData WHERE Market_Cap > 100"
cursor = con.execute(query)
con.commit()
blueChips_data=cursor.fetchall()
blueChips_data

[('Firm_1', 'A', 100, 'USA', 430.0), ('Firm_3', 'AA', 70, 'UK', 161.25)]

In the next section we'll see that Pandas provides much more efficient methods to save and retrieve data with and SQL engine.

When you stop working with a SQL engine, close the connection

In [36]:
con.close()

We clean-up our `Data` folder deleting the `"refData.db"` file (if still open, shut down DB Browser otherwise you won't be able to remove the file)

In [37]:
removeFile(filePath)

Success: file ../Data\refData.db successfully removed!

### Pandas and SQL: `df.to_sql()` and `pd.read_sql()`

Thanks to the `.to_sql()` DataFrame's method and the function `.read_sql()`, Pandas allows us to replace all the

- `refData` table creation (`.execute()` of `CREATE TABLE refData...` query);
- the (highly infficient) row-by-row data insertion (`.execute()` of `INSERT INTO refData VALUES...` query);
- all the `.commit()` to make the changes to `refData` table effective

with a call to `df_refData.to_sql()` method, and

- the selection of the data (`.execute()` of `SELECT * FROM refData` and `.fetchall()` selected data);
- as well conditional selection of the data (`.execute()` of `SELECT * FROM refData WHERE Market_Cap > 100` and `.fetchall()` selected data)
- all the `.commit()` to make the selection query effective

with a call to `pd.read_sql()` function.

All we have to do, at the very beginning, is opening a database connection. Let's quicly do it as we have already seen

In [57]:
import sqlite3 as sq3

filePath = os.path.join(dataFolderPath, "refData.db")
con = sq3.connect(filePath)
type(con)

sqlite3.Connection

Let's store the `df_refData` DataFrame into the newly created SQL table `refData` (physically saved into the `"refData.db"` file. You can inspected the newly created table opening the `"refData.db"` with DB Browser.

To do this we use the [`.to_sql()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html) whose essential syntax is

```python
DataFrame.to_sql(name, con[, index_label])
```

This method saves the content of the `DataFrame` into a table using parameter:
- `name` is going to be the name of the table;
- `con` has to be an already opened database connection;

Moreover, `DataFrame`'s index is going to be stored as an additional column into the db (the left-most column) and the parameter

- `index_label` is an optional parameter which specifies the label of the index column

In [58]:
df_refData.to_sql(name="refData", con=con, index_label="Firms")

Let's now retrieve all the data stored in the `refData` table as the `df_refData_reloaded` DataFrame, with the idea of reconstructing a reloaded version of the original `df_refData` DataFrame

To do this we use the [`pd.read_sql()` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html#pandas.read_sql) whose essential syntax is

```python
pd.read_sql(sql, con[, index_col])
```

which saves the content of the `DataFrame` into a table using parameter:
- `sql` is a SQL query to be executed;
- `con` has to be an already opened database connection;

Moreover, we can specify the column of the db to be interpreted as index in the reconstructed DataFrame and

- `index_col` is a parameter which specifies the name of the column to be used as index of the reconstructed DataFrame

In [59]:
query = "SELECT * FROM refData"

df_refData_reloaded = pd.read_sql(sql=query, con=con, index_col="Firms")

df_refData_reloaded

       S&P Rating  Spread Country  Market Cap
Firms
Firm_1          A     100     USA      430.00
Firm_2         BB     300     ITA       45.00
Firm_3         AA      70      UK      161.25
Firm_4        CCC     700     ITA        5.00

To make conditional selections we can either specify a SQL query using the `WHERE` statement (notice the use of backticks ` `` ` to select a column with and empty space in the column name)

In [60]:
query = "SELECT * FROM refData WHERE `Market Cap` > 100"

%time df_refData_blueChips = pd.read_sql(sql=query, con=con, index_col="Firms")

df_refData_blueChips

Wall time: 2.97 ms

       S&P Rating  Spread Country  Market Cap
Firms
Firm_1          A     100     USA      430.00
Firm_3         AA      70      UK      161.25

or you can read in-memory the whole table as a reconstructed DataFrame and then using Pandas conditional row selection to retrieve your data

In [61]:
%%time

query = "SELECT * FROM refData"

df_refData_reloaded = pd.read_sql(sql=query, con=con, index_col="Firms")

df_refData_blueChips = df_refData_reloaded[df_refData_reloaded["Market Cap"] > 100]

Wall time: 0 ns

Here and alsewhere we use the syntax

```python
%%time 

statement(s)_in_a_cell
```
to execute a all the statements in a cell and measure its execution time (Wall time) with the [`%%time` magic function](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-time) in cell mode.

In [62]:
df_refData_blueChips

       S&P Rating  Spread Country  Market Cap
Firms
Firm_1          A     100     USA      430.00
Firm_3         AA      70      UK      161.25

**TAKE-HOME MESSAGE**: in general, for small to medium-sized dbs, querying in-memory the whole DataFrame (using `SELECT *...` kind of query) and then manipulating the reconstructed DataFrame to make conditional selections etc. is in general more efficient than running conditional SQL query on the db. The opposite is true when dimensions of the db are huge and/or the conditional selection involves multiple tables or operations which would be hardly replicated in Pandas: in this case is better to run a conditional SQL query (using for example the `SELECT ... WHERE...` kind of query)

Let's now close the connection and clean-up `Data` folder

In [70]:
con.close()

In [71]:
removeFile(filePath)

Success: file ../Data\df.db successfully removed!

#### Parsing Dates: `pd.read_sql(..., parse_dates)`

Let's make now an example of a DataFrame with Dates as index

In [65]:
df = pd.DataFrame(data=np.array([[i**k for i in range(1,11)] for k in range(1,6)]).T, 
                  index=pd.date_range('2020-01-01', periods=10, freq='B'), 
                  columns=['x', 'x^2', 'x^3', 'x^4', 'x^5'])
df

             x  x^2   x^3    x^4     x^5
2020-01-01   1    1     1      1       1
2020-01-02   2    4     8     16      32
2020-01-03   3    9    27     81     243
2020-01-06   4   16    64    256    1024
2020-01-07   5   25   125    625    3125
2020-01-08   6   36   216   1296    7776
2020-01-09   7   49   343   2401   16807
2020-01-10   8   64   512   4096   32768
2020-01-13   9   81   729   6561   59049
2020-01-14  10  100  1000  10000  100000

In [66]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', freq='B')

In [67]:
df.index[0]

Timestamp('2020-01-01 00:00:00', freq='B')

Let's open the db connection

In [72]:
filePath = os.path.join(dataFolderPath, "df.db")

In [73]:
con = sq3.connect(filePath)

and let's save `df` DataFrame as a `df` table in a `"df.db"` file

In [74]:
df.to_sql(name="df", con=con, index_label="Dates")

As you can see with DB Browser, the `"Dates"` column, is stored in the `df` table as a [`TIMESTAMP` column](https://www.sqlitetutorial.net/sqlite-date/). Let's what happen if we try to reconstruct the DataFrame

In [75]:
query = "SELECT * FROM df"
df_reloaded = pd.read_sql(sql=query, con=con, index_col="Dates")
df_reloaded

                      x  x^2   x^3    x^4     x^5
Dates
2020-01-01 00:00:00   1    1     1      1       1
2020-01-02 00:00:00   2    4     8     16      32
2020-01-03 00:00:00   3    9    27     81     243
2020-01-06 00:00:00   4   16    64    256    1024
2020-01-07 00:00:00   5   25   125    625    3125
2020-01-08 00:00:00   6   36   216   1296    7776
2020-01-09 00:00:00   7   49   343   2401   16807
2020-01-10 00:00:00   8   64   512   4096   32768
2020-01-13 00:00:00   9   81   729   6561   59049
2020-01-14 00:00:00  10  100  1000  10000  100000

In [76]:
df_reloaded.index

Index(['2020-01-01 00:00:00', '2020-01-02 00:00:00', '2020-01-03 00:00:00',
       '2020-01-06 00:00:00', '2020-01-07 00:00:00', '2020-01-08 00:00:00',
       '2020-01-09 00:00:00', '2020-01-10 00:00:00', '2020-01-13 00:00:00',
       '2020-01-14 00:00:00'],
      dtype='object', name='Dates')

In [77]:
df_reloaded.index[0]

'2020-01-01 00:00:00'

In [78]:
type(df_reloaded.index[0])

str

As you can see, the contents of the `"Dates"` column in `df` column are interpreted as indexes in the `df_reloaded` DataFrame. Nevertheless, these index is not a DatetimeIndex, it is made of Strings...

To parse SQL TIMESTAMP columns as dates you have to use the additional parameter of [`pd.read_sql()` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html#pandas.read_sql) 
```python
pd.read_sql(..., parse_dates)
```

where the parameter `parse_dates` can be the name (or a List of names) of columns in the db to be parsed as dates

In [79]:
query = "SELECT * FROM df"
df_reloaded = pd.read_sql(sql=query, con=con, index_col="Dates", parse_dates="Dates")
df_reloaded

             x  x^2   x^3    x^4     x^5
Dates
2020-01-01   1    1     1      1       1
2020-01-02   2    4     8     16      32
2020-01-03   3    9    27     81     243
2020-01-06   4   16    64    256    1024
2020-01-07   5   25   125    625    3125
2020-01-08   6   36   216   1296    7776
2020-01-09   7   49   343   2401   16807
2020-01-10   8   64   512   4096   32768
2020-01-13   9   81   729   6561   59049
2020-01-14  10  100  1000  10000  100000

In [80]:
df_reloaded.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', name='Dates', freq=None)

In [81]:
df_reloaded.index[0]

Timestamp('2020-01-01 00:00:00')

cool. We have correctly reconstructed our original DataFrame.

Let's now close the connection and clean-up `Data` folder

In [84]:
con.close()

In [85]:
removeFile(filePath)

Success: file ../Data\df.db successfully removed!

---

## PANDAS + .csv

In [ ]:
df_refData

In [ ]:
%time df_refData.to_csv(path_or_buf = dataFolderPath + "df_refData.json")

In [ ]:
%time df_refData_reloaded = pd.read_csv(filepath_or_buffer = dataFolderPath + "df_refData.json", index_col = 0)

In [ ]:
df_refData_reloaded

In [ ]:
if os.path.isfile(dataFolderPath + "df_refData.json"):
    os.remove(dataFolderPath + "df_refData.json")

# double-check if file still exists
os.path.isfile(dataFolderPath + "df_refData.json")

### another example - parsing dates

In [ ]:
df

In [ ]:
%time df.to_csv(path_or_buf = dataFolderPath + "df.json")

In [ ]:
%time df_reloaded = pd.read_csv(filepath_or_buffer = dataFolderPath + "df.json", index_col = 0)

In [ ]:
df_reloaded.index

In [ ]:
df_reloaded.index[0]

In [ ]:
type(df_reloaded.index[0])

In [ ]:
%time df_reloaded = pd.read_csv(filepath_or_buffer = dataFolderPath + "df.json", index_col = 0, parse_dates = True)

In [ ]:
df_reloaded

In [ ]:
df_reloaded.index

In [ ]:
df_reloaded.index[0]

In [ ]:
if os.path.isfile(dataFolderPath + "df.json"):
    os.remove(dataFolderPath + "df.json")

# double-check if file still exists
os.path.isfile(dataFolderPath + "df.json")

---

## PANDAS + Excel (FORSE)

In [ ]:
df_refData

In [ ]:
%time df_refData.to_excel(excel_writer = dataFolderPath + "df_refData.xlsx", sheet_name = "reference data table")

In [ ]:
%time df_refData_reloaded = pd.read_excel(io = dataFolderPath + "df_refData.xlsx", index_col = 0, sheet_name = "reference data table")

In [ ]:
df_refData_reloaded

In [ ]:
if os.path.isfile(dataFolderPath + "df_refData.xlsx"):
    os.remove(dataFolderPath + "df_refData.xlsx")

# double-check if file still exists
os.path.isfile(dataFolderPath + "df_refData.xlsx")

### another example - parsing dates

In [ ]:
df

In [ ]:
%time df.to_excel(excel_writer = dataFolderPath + "df.xlsx")

In [ ]:
%time df_reloaded = pd.read_excel(io = dataFolderPath + "df.xlsx", index_col = 0)

In [ ]:
df_reloaded

In [ ]:
df_reloaded.index

In [ ]:
df_reloaded.index[0]

In [ ]:
if os.path.isfile(dataFolderPath + "df.xlsx"):
    os.remove(dataFolderPath + "df.xlsx")

# double-check if file still exists
os.path.isfile(dataFolderPath + "df.xlsx")

---

---

## PANDAS + Yahoo Finance

In [ ]:
# for Yahoo Finance API
import yfinance as yf

In [ ]:
data = yf.download("^GSPC", period="max")

In [ ]:
data.loc['2010-01-01':, 'High'].plot()

In [ ]:
data.head()

In [ ]:
spx = yf.Ticker("^GSPC")
spx_hist = spx.history(period="max")

In [ ]:
spx_hist.tail()

In [ ]:
data2 = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30", group_by = 'ticker')

In [ ]:
data2.head()

In [ ]:
data2['SPY']