# Derivatives Analytics - Introduction to Object Oriented Programming

**Author**: [Gabriele Pompa](https://www.linkedin.com/in/gabrielepompa/): gabriele.pompa@unisi.com

# Table of contents

[Executive Summary](#executive-summary)

**TODO**

### **Resources**: 

**TODO**

# Executive Summary <a name="executive-summary"></a>

**Make intro**

The following sections are organized as follows:

- **TODO**

These are the basic imports that we need to work with NumPy, Pandas and to plot data using Matplotlib functionalities

In [1]:
# for NumPy arrays
import numpy as np

# for Pandas Series and DataFrame
import pandas as pd

# for Matplotlib plotting
import matplotlib.pyplot as plt

# to do inline plots in the Notebook
%matplotlib inline

# for Operating System operations
import os

# Introduction to dates management: `datetime` module <a name="introduction-to-dates"></a>

In [2]:
# for date management
import datetime as dt

In [3]:
today = dt.datetime.today()
today

datetime.datetime(2020, 4, 18, 17, 18, 52, 903088)

In [4]:
type(today)

datetime.datetime

In [5]:
my_birthday = dt.datetime(year=1988,month=6,day=1)
my_birthday

datetime.datetime(1988, 6, 1, 0, 0)

In [6]:
type(my_birthday)

datetime.datetime

In [7]:
time_to_date = today - my_birthday
time_to_date

datetime.timedelta(days=11644, seconds=62332, microseconds=903088)

In [8]:
type(time_to_date)

datetime.timedelta

In [9]:
time_to_date.days

11644

In [10]:
time_to_date.days/365

31.9013698630137

In [11]:
date_string = "18-04-2020"
date_string

'18-04-2020'

In [12]:
type(date_string)

str

In [13]:
isinstance(date_string, str)

True

In [14]:
date = dt.datetime.strptime(date_string, "%d-%m-%Y")
date

datetime.datetime(2020, 4, 18, 0, 0)

In [15]:
type(date)

datetime.datetime

In [16]:
isinstance(date, dt.datetime)

True

In [17]:
date_string_from_dt = date.strftime("%d-%m-%Y")
date_string_from_dt

'18-04-2020'

In [18]:
type(date_string_from_dt)

str

In [19]:
isinstance(date_string_from_dt, str)

True

## Non-financial Introduction to OOP <a name="non-financial-introduction-to-oop"></a>

### Without OOP: a person <a name="nonoopperson"></a>

In [20]:
def print_full_name(name, surname):
    print("My name is {} {}".format(name, surname))

In [21]:
my_name = "Gabriele"
my_surname = "Pompa"

In [22]:
print_full_name(name=my_name, surname=my_surname)

My name is Gabriele Pompa

In [23]:
def print_country_of_birth(country):
    print("My country of birth is {}".format(country))

In [24]:
my_country = "Italy"

In [25]:
print_country_of_birth(my_country)

My country of birth is Italy

In [26]:
def compute_age(birthdate):
    
    today = dt.datetime.today()  
    birthdate = dt.datetime.strptime(birthdate, "%d-%m-%Y") if isinstance(birthdate, str) else birthdate
    
    next_birthday = dt.datetime(year=today.year, month=birthdate.month, day=birthdate.day)
    
    if today >= next_birthday:
        age = today.year - birthdate.year
    else:
        age = today.year - birthdate.year - 1
        
    return age

In [27]:
my_birthdate = "01-06-1988"
my_birthdate

'01-06-1988'

In [28]:
my_age = compute_age(birthdate=my_birthdate)
my_age

31

In [29]:
def time_to_birthday(birthdate):
    
    today = dt.datetime.today()
    birthdate = dt.datetime.strptime(birthdate, "%d-%m-%Y") if isinstance(birthdate, str) else birthdate
    
    next_birthday = dt.datetime(year=today.year, month=birthdate.month, day=birthdate.day)
    
    return (next_birthday - today).days

In [30]:
days_to_birthday = time_to_birthday(my_birthdate)
days_to_birthday

43

### With OOP: `Person` class <a name="oopperson"></a>

In [31]:
class Person(object):
    
    def __init__(self, p_name, p_surname, p_country, p_birthdate):
        self.name      = p_name
        self.surname   = p_surname
        self.country   = p_country
        self.birthdate = dt.datetime.strptime(p_birthdate, "%d-%m-%Y") if isinstance(p_birthdate, str) else p_birthdate
        self.age       = None
    
    def print_full_name(self):
        print("My name is {} {}".format(self.name, self.surname))
        
    def print_country_of_birth(self):
        print("My country of birth is {}".format(self.country))
        
    def compute_age(self):
    
        today = dt.datetime.today()  

        next_birthday = dt.datetime(year=today.year, month=self.birthdate.month, day=self.birthdate.day)

        if today >= next_birthday:
            self.age = today.year - self.birthdate.year
        else:
            self.age = today.year - self.birthdate.year - 1

        return self.age 
    
    def time_to_birthday(self):

        today = dt.datetime.today()

        next_birthday = dt.datetime(year=today.year, month=self.birthdate.month, day=self.birthdate.day)

        return (next_birthday - today).days

In [32]:
gab = Person(p_name = "Gabriele", 
             p_surname = "Pompa", 
             p_country = "Italy", 
             p_birthdate = "01-06-1988")

In [48]:
type(gab)

__main__.Person

In [34]:
gab.name

'Gabriele'

In [35]:
gab.surname

'Pompa'

In [36]:
gab.print_full_name()

My name is Gabriele Pompa

In [37]:
gab.country

'Italy'

In [38]:
gab.print_country_of_birth()

My country of birth is Italy

In [39]:
gab.birthdate

datetime.datetime(1988, 6, 1, 0, 0)

In [40]:
gab.birthdate.strftime("%d-%m-%Y")

'01-06-1988'

In [41]:
gab.age is None

True

In [42]:
gab.compute_age()

31

In [43]:
gab.age

31

In [44]:
gab.time_to_birthday()

43

In [45]:
albert = Person(p_name = "Albert", 
                p_surname = "Einstein", 
                p_country = "Germany", 
                p_birthdate = "14-03-1979")

In [49]:
type(albert)

__main__.Person

In [47]:
albert.print_full_name()

My name is Albert Einstein